<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    <h2>Таблица результатов</h2>
    <p>Обновление происходит с задержкой в 10-15 минут.</p>
  </div>
  <hr>
  <div class="row">
      <table class="table">
        <caption><h3>Div1</h3></caption>
      <thead>
        <tr>
          <th>#</th>
          <th>ФИО</th>
          <th>ACMP ID</th>
          <th>Статистика</th>
          <th>Стартовый рейтинг</th>
          <th>Текущий рейтинг</th>
          <th>Бонусы</th>
          <th>Итоговый рейтинг</th>
        </tr>
      </thead>
      <tbody>
        <% div1Students.forEach(function(student, index) { %>
                    <tr<% if(index < 6){ %> class="bg-success" <% } %>> 
                        <th scope="row"><%= index+1 %></th>
                        <td><a href="/participants/<%= student.id %>"><%= student.fullname %></a></td> 
                        <td><a href="https://acmp.ru/?main=user&id=<%= student.acmpId %>"><%= student.acmpId %></a></td> 
                        <td>
                          <div class="tooltip <%= student.diff1_20.stat %>">
                            <span class="tooltiptext"><%= student.diff1_20.tooltip %></span>
                          </div>
                          <div class="tooltip <%= student.diff21_40.stat %>">
                            <span class="tooltiptext"><%= student.diff21_40.tooltip %></span>
                          </div>
                          <div class="tooltip <%= student.diff41_60.stat %>">
                            <span class="tooltiptext"><%= student.diff41_60.tooltip %></span>
                          </div>
                          <div class="tooltip <%= student.diff61_80.stat %>">
                            <span class="tooltiptext"><%= student.diff61_80.tooltip %></span>
                          </div>
                          <div class="tooltip <%= student.diff81_100.stat %>">
                            <span class="tooltiptext"><%= student.diff81_100.tooltip %></span>
                          </div>
                        </td>
                        <td><%= student.startRating %></td>
                        <td><a href="https://acmp.ru/index.asp?main=status&id_mem=<%= student.acmpId %>"><%= student.currentRating %></a></td> 
                        <td><%= student.bonusRating %></td>
                        <td><%= student.contestRating %></td>
                    </tr> 
                <% }); %>
      </tbody>
    </table>
  </div> <!-- row -->
  <div class="row">
      <table class="table">
        <caption><h3>Div2</h3></caption>
      <thead>
        <tr>
          <th>#</th>
          <th>ФИО</th>
          <th>ACMP ID</th>
          <th>Стартовый рейтинг</th>
          <th>Текущий рейтинг</th>
          <th>Бонусы</th>
          <th>Итоговый рейтинг</th>
        </tr>
      </thead>
      <tbody>
        <% div2Students.forEach(function(student, index) { %>
                     <tr<% if(index < 6){ %> class="bg-success" <% } %>> 
                        <th scope="row"><%= index+1 %></th>
                        <td><a href="/participants/<%= student.id %>"><%= student.fullname %></a></td> 
                        <td><a href="https://acmp.ru/?main=user&id=<%= student.acmpId %>"><%= student.acmpId %></a></td>
                        <td>
                          <div class="tooltip <%= student.diff1_20.stat %>">
                            <span class="tooltiptext"><%= student.diff1_20.tooltip %></span>
                          </div>
                          <div class="tooltip <%= student.diff21_40.stat %>">
                            <span class="tooltiptext"><%= student.diff21_40.tooltip %></span>
                          </div>
                          <div class="tooltip <%= student.diff41_60.stat %>">
                            <span class="tooltiptext"><%= student.diff41_60.tooltip %></span>
                          </div>
                          <div class="tooltip <%= student.diff61_80.stat %>">
                            <span class="tooltiptext"><%= student.diff61_80.tooltip %></span>
                          </div>
                          <div class="tooltip <%= student.diff81_100.stat %>">
                            <span class="tooltiptext"><%= student.diff81_100.tooltip %></span>
                          </div>
                        </td> 
                        <td><%= student.startRating %></td>
                        <td><a href="https://acmp.ru/index.asp?main=status&id_mem=<%= student.acmpId %>"><%= student.currentRating %></a></td> 
                        <td><%= student.bonusRating %></td>
                        <td><%= student.contestRating %></td>
                    </tr> 
                <% }); %>
      </tbody>
    </table>
  </div> <!-- row -->
  <div class="row">
      <table class="table">
        <caption><h3>Div3</h3></caption>
      <thead>
        <tr>
          <th>#</th>
          <th>ФИО</th>
          <th>ACMP ID</th>
          <th>Стартовый рейтинг</th>
          <th>Текущий рейтинг</th>
          <th>Бонусы</th>
          <th>Итоговый рейтинг</th>
        </tr>
      </thead>
      <tbody>
        <% div3Students.forEach(function(student, index) { %>
                    <tr<% if(index < 6){ %> class="bg-success" <% } %>> 
                        <th scope="row"><%= index+1 %></th>
                        <td><a href="/participants/<%= student.id %>"><%= student.fullname %></a></td> 
                        <td><a href="https://acmp.ru/?main=user&id=<%= student.acmpId %>"><%= student.acmpId %></a></td>
                        <td>
                          <div class="tooltip <%= student.diff1_20.stat %>">
                            <span class="tooltiptext"><%= student.diff1_20.tooltip %></span>
                          </div>
                          <div class="tooltip <%= student.diff21_40.stat %>">
                            <span class="tooltiptext"><%= student.diff21_40.tooltip %></span>
                          </div>
                          <div class="tooltip <%= student.diff41_60.stat %>">
                            <span class="tooltiptext"><%= student.diff41_60.tooltip %></span>
                          </div>
                          <div class="tooltip <%= student.diff61_80.stat %>">
                            <span class="tooltiptext"><%= student.diff61_80.tooltip %></span>
                          </div>
                          <div class="tooltip <%= student.diff81_100.stat %>">
                            <span class="tooltiptext"><%= student.diff81_100.tooltip %></span>
                          </div>
                        </td> 
                        <td><%= student.startRating %></td>
                        <td><a href="https://acmp.ru/index.asp?main=status&id_mem=<%= student.acmpId %>"><%= student.currentRating %></a></td> 
                        <td><%= student.bonusRating %></td>
                        <td><%= student.contestRating %></td>
                    </tr> 
                <% }); %>
      </tbody>
    </table>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    <p>Последнее обновление: <%= lastUpdate %></p>
  </div>
</div>


</body>
</html>
