<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="row">
            <div class="col-md-4">
              <h1><%= student.fullname %><small>(<%= student.division %>)</small></h1></br>
              <h4>Ник в Телеграм: <%= student.tgname %></h4>
              <h4>Email: <%= student.email %></h4>
              <table class="table">
                <caption><h3>Бонусы</h3></caption>
                  <thead>
                    <tr>
                      <th>Описание</th>
                      <th>Рейтинг</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% student.bonuses.forEach(function(bonus, index) { %>
                                <tr>
                                    <td><%= bonus.description %></td>
                                    <td><%= bonus.value %></td>
                                </tr> 
                            <% }); %>
                  </tbody>
                </table> %>
            </div>
            <div class="col-md-4">
              <caption><h1>Рейтинг: </h1></caption>
              <h4>Стартовый рейтинг на ACMP: <%= student.startRating %></h4>
              <h4>Текущий рейтинг на ACMP: <%= student.currentRating %></h4>
              <h4>Бонусный рейтинг: <%= student.bonusRating %></h4>
              <h4>Итоговый рейтинг: <%= student.contestRating %></h4>
            </div>
            <div class="col-md-4">
              <caption><h1>Задачи: </h1></caption>
              <caption><h3>Решенные задачи</h3></caption>
                  <% student.solvedTasks.forEach(function(task, i) { %>
                    <a><%= task.value%></a> &nbsp 
                    <%= i+1 %>
                  <% }); %>
              <caption><h3>Нерешенные задачи</h3></caption>
                  <% student.notSolvedTasks.forEach(function(task, i) { %>
                    <a><%= task.value%></a> &nbsp 
                    <%= i+1 %>
                  <% }); %>
            </div>
    </div>
  </div>
</body>
</html>