<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div class="container">
    <div class="row">
            <table class="table">
              <div class="alert text-center" role="alert">
                <h2>Страница участника</h2>
              </div>
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Div</th>
                <th>ACMP ID</th>
                <th>Стартовый рейтинг</th>
                <th>Текущий рейтинг</th>
                <th>Бонусы</th>
                <th>Итоговый рейтинг</th>
            </tr>
            </thead>
            <tbody>
            <% participant.forEach(function(student, index) { %>
                        <tr class="bg-success" > 
                            <td><%= student.fullname %></td> 
                            <td><%= student.division %></td>
                            <td><a href="https://acmp.ru/?main=user&id=<%= student.acmpId %>"><%= student.acmpId %></a></td> 
                            <td><%= student.startRating %></td>
                            <td><a href="https://acmp.ru/index.asp?main=status&id_mem=<%= student.acmpId %>"><%= student.currentRating %></a></td> 
                            <td><%= student.bonusRating %></td>
                            <td><%= student.contestRating %></td>
                        </tr> 
                    <% }); %>

            </tbody>
        </table>
        <caption><h3>Решенные задачи</h3></caption>
        </div> <!-- row -->
            <% solvedTasks.forEach(function(task, i) { %>
              <a><%= task.value%></a> &nbsp 
              <%= i+1 %>
            <% }); %>
        <hr>
        <br>
        <caption><h3>Не решенные задачи</h3></caption>
            <% notSolvedTasks.forEach(function(task, i) { %>
              <a><%= task.value%></a> &nbsp 
              <%= i+1 %>
            <% }); %>
    </div>
</body>
</html>
